*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D0BED7 ;
}
header{
    display: flex;
    justify-content: space-between ;

    background: #BB8FCE  ;
    padding: 10px;
    align-items: center;   
}

#logo-empresa{
    
    height: 120px;

    display: flex;

    text-decoration: none;
    color:#ECF0F1 ;
}

#logo{
    height: 100px;
    width: 100px;

    margin-right: 20px;

    margin: 10px;

}

#empresa{
    font-size: 40px;
    margin: auto;
}

nav .link_nav{
    
    margin: 0 10px;
    font-size: 40px;
    text-decoration: none;
    color: #ECF0F1 ;
  

    font-weight: bold; /*aplica negrita al texto*/
}

nav .link_nav:hover{
    color: rgb(47, 102, 223);
}